html, body {
  min-height: 100%;
  background: #FAF8F4;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button, input, textarea, select {
  font: inherit;
}

@supports (-webkit-touch-callout: none) {
  input, textarea, select {
    font-size: 16px;
  }
}
